@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
    background-color: #F3F4ED;
}

.sidebar {
    background-color: #046582;
    transition: width 0.5s;
}

.todo-item{
    background-color: #F39189;
}